{% extends 'student/base.html' %} 

{% load staticfiles %} 

{% block css %}
<link rel="stylesheet" href="{% static 'student\finance.css' %}"> 
{% endblock %} 

{% block javascript %}
<script src="#"></script>
{% endblock %} 

{% block title%}Finance{% endblock %} 

{% block activefinance %}active{% endblock %} 

{% block body%}
<div class="jumbotron bg-light">
    <div class="row">
        <div class="col col-lg-12">
            <a class="btn btn-dark" href="{% url 'student:finance-add' %}" role="button">Add Fee</a>
            <div style="margin-top:1em" class="card">
                <div class="card-header text-dark table-heading">Fees</div>
                <div class="card-body panel-full">
                    <table class="table table-responsive-sm table-striped table-condensed sortable">
                        <thead>
                            <tr>
                                <th align="center">Transaction ID</th>
                                <th align="center">Student</th>
                                <th align="center">Fee Name</th>
                                <th align="center">Date</th>
                                <th align="center">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fee in object_list %}
                            <tr>
                                <td>{{ fee.pk }}</td>
                                <td>{{ fee.student }}</td>
                                <td>{{ fee.fee_name }}</td>
                                <td>{{ fee.fee_date }}</td>
                                <td>{{ fee.fee_amount }}</td>
                                <td style="padding: 0px">
                                    <a class="btn btn-dark click float-right" href="{% url 'student:finance-update' fee.pk %}" role="button">Update</a>
                                    <a class="btn btn-dark click float-right" href="{% url 'student:finance-delete' fee.pk %}" role="button">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}