{% extends 'student/base.html' %}

{% load staticfiles%}

{% block title %}Add Student{% endblock %}
{% block activestudent %}active{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'student\student_form.css' %}">
{% endblock %}


{% block body %}
<div class="container-fluid bg-light">

    <div class="row justify-content-center">

        <div class="col-sm-12 col-md-7 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Add a Guardian</h3>
                    <div class="form-group">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'student/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}